.location-information {
    margin-inline: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
}

.location-information h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
}

.location-information p {
    font-size: 18px;
    line-height: 142.6%;
}

.location-tag {
    color: white;
    background-color: #FF6060;
    padding-inline: 40px;
    padding-block: 5px;
    border-radius: 10px;
    margin-right: 10px;
}

.location-information-left {
    flex-basis: 50%;
}

.location-information-right {
    flex-basis: 50%;
}