.errorComponent {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    color: #FF6060;
    padding: 5%;
}

.errorComponent p:first-child {
    flex-basis: 100%;
    font-size: 288px;
    margin: 0;
}

.errorComponent p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
}

.errorComponent a {
    flex-basis: 100%;
    margin-top : 10vh;
    color: #FF6060;
    font-family: 'Montserrat';
    font-size: 18px;
}