.errorComponent {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    color: #FF6060;
    padding: 5%;
    font-family: 'Montserrat';
}

.errorComponent p:first-child {
    flex-basis: 100%;
    font-size: 288px;
    margin: 0;
}

.errorComponent p {
    font-weight: 500;
    font-size: 36px;
}

.errorComponent a {
    flex-basis: 100%;
    margin-top : 10vh;
    color: #FF6060;
    font-size: 18px;
}

@media only screen and (max-width : 720px) {
    .errorComponent {
        margin-block: 50%;
    }
    .errorComponent p:first-child {
        font-size: 96px;
    }
    .errorComponent p {
        font-size: 18px;
    }
    .errorComponent a {
        font-size: 14px;
    }
}