.homePage {
    padding-inline: 100px;
    margin-top: 60px;
}

.homePage-title {
    position: relative;
}

.homePage img {
    height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(50%);
}

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 60px;
    gap : 60px;
    background: #F7F7F7;
    border-radius: 25px;
    margin-top: 45px;
}

@media only screen and (max-width : 720px) {
    .homePage {
        padding-inline: 0;
    }
    .cardContainer {
        padding: 20px;
    }
    .homePage-title {
        margin: 20px;
    }
}