.card {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 28%;
    padding: 20px;
    background: #FF6060;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    height: 340px;
    flex-grow: 4;
}

@media only screen and (max-width : 720px) {
    .card {
        flex-basis:100%;
        height:255px;
    }
}