.collapse-elements button {
    background: #FF6060;
	border: none;
	padding: 5px;
	font-family: 'Montserrat';
    font-size: 24px;
    color: white;
	cursor: pointer;
}

.collapse-elements {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

.button-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
	cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 15px;
    background: #FF6060;
}

.toggle {
    background: #F7F7F7;
    border-radius: 5px;
    color: #FF6060;
    padding: 20px;
    padding-top: 30px;
}

.toggle h4{
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}