header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    padding-inline: 100px;
}

@media only screen and (max-width : 720px) {
    header {
        padding: 20px;
    }
}

header nav a{
    text-decoration: none;
    color: rgba(255, 96, 96, 1);
}

header nav a:first-child{
    margin-right: 57px;
}