footer {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-top : 10vh;
}

footer img {
    flex-basis: 100%;
    width: 120px;
    height: 40px;
    align-self: center;
    filter: brightness(0) invert(1);
}

