h1 {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-component {
    margin-block: 60px;
    padding-inline: 100px;
    position: relative;
}

.banner-component img {
    height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(50%);
}

@media only screen and (max-width : 720px) {
    h1 {
        left: 40%;
        font-size: 24px;
    }
    .banner-component {
        margin: 20px;
        padding-inline: 0;
    }
}