h1 {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  